$c-black: rgba(0, 0, 0, 0.8);
$c-grey: #444444;
$c-lightgrey: #CCCCCC;
$c-blue: #27b0f9;
$c-green: #421216;
$c-red: #f4424b;
$c-darkred: #6db227;
$c-orange: #ff9400;
$c-white: #ffffff;

$t-default: $c-black;
$t-primary: $c-blue;
$t-warn: orange;
$t-accent: $c-red;
